.recipe-card:hover{
    opacity: 0.7;
}

.card-img-top {
    height: 240px;
    object-fit: cover;
}

.search-results{
    z-index: 999;
    position: fixed;
}

.search-results .row:hover{
    opacity: 0.7;
}

.collapse, .navbar-collapse{
    z-index: 100!important;
}